body
{
    background-color: #f0f2f5;
    margin: 0;
    padding: 0;
}
.Logo
{
    display: flex;
    justify-content: center;
}
.details_block
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 363px;
    height: 275px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    margin-top: 0px;
    padding: 17px;
    border-color: rgb(232, 232, 226);
    border-style: solid;
    margin-bottom: 60px;
}
#message
{
    display: block;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
    font-weight: lighter;
    align-content: center;
    margin-top: -16px;
    margin-bottom: 26px;
    
}
#username
{
    width: 331px;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 5px;
    font-size: 17px;
    margin-bottom: 5px;
    border: 1px;
    border-style: solid;
    border-color: rgb(200, 200, 200); 
}
#username:hover
{
    border: 1px;
    border-color:greenyellow ;
    border-style: solid;


}
#password
{
    width: 331px;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 5px;
    font-size: 17px;
    margin-top: 5px;
    border: 1px;
    margin-bottom: 5px;
    border-style: solid;
    border-color: rgb(200, 200, 200);
}
#password:focus
{
    background-color: black;
    color: white;
}
#bt_sign_in
{
    width: 366px;
    height: 48px;
    border-radius: 5px;
    font-size: 20px;
    margin-top: 5px;
    background-color: #1877f2;
    font-weight: 790;
    color: whitesmoke;
    border-style: hidden;
    margin-bottom: 5px;
}
button:hover
{
    background-color: #216fdb;

}
#i1
{
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    

}
p3
{
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    padding-top: 12px;
    padding-bottom: 18px;
    bottom: 14px;
    font-weight: 100;

}
footer
{
    height: 262px;
    background-color: white;
    padding-left: 270px;
    padding-right: 270px;
    padding-top: 30px;
    padding-bottom: 10px;  
}
.footer-language-link
{
    font-size: 12px;
    word-spacing: 10px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 8px;
    margin-top: 119px;
   
}
#footer-button-plus
{
    width: 29px;
    height: 19px;
    font-weight: bolder;   
}
.footer-link-list
{
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 20px;
}
#link-list
{
    text-decoration: none;
    color: #737373;
    margin-right: 19px;

}