 body
{
    background-color: #f0f2f5;
}
facebook_icon
{
    display: flex;
    justify-content: center;
}
.first_box
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
    width: 400px;
    height: 55px;
    padding: 10px 16px;
    margin-bottom: 2px;

}
.second_box
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
    width: 400px;
    height: 468px;
    padding: 16px;
    margin-bottom: 60px;
    
}
message>p1
{
    display: block;
    justify-content: center;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #1c1e21;  
}
message>p2
{
    display: block;
    justify-content: center;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: #606770;
}
#i1,#i2,#i3,#i4
{
    font-size: 15px;
    line-height: 16px;
    padding: 12px;
    border-radius: 5px; 
    border: 1px;
    border-style: solid;
    border-color: #bdc7d8; 
    margin-bottom: 10px;
}
#i4:focus
{
    background-color: black;
    color: rgb(255, 255, 255);   
}
select_log>p1
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #606770;
}
#i1
{
    margin-right: 5px;

}
#i2
{
    margin-left: 5px;
}

#i3,#i4
{
    width: 371.6px;
}
#i1,#i2
{
    width: 165.6px;
}
#month,#year,#day
{
    margin-top: 5px;
    padding-left: 8px;
    padding-right: 20px;
    width: 123px;
    height: 36px;
    border-style: solid;
    border-color: #bdc7d8;
    border-radius: 5px;
    margin-bottom: 0px;
}
#month,#year
{
    margin-left: 10px;
}
.check_box>#gen_male,#gen_female,#gen_custom
{
    margin-top: 5px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: #1c1e21;
}
.check_box>p
{
    margin-top: 0px;
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #606770;
}

#gen_male
{
    display: inblock;
    text-align: center;
    padding-left: 10px;
    padding-right: 0px;
    padding-top: 9px;
    padding-bottom: 9px;
    width: 82px;
    height: 36px;
    border: 2px;
    border-style: solid;
    border-color: #bdc7d8;
    margin-right: 12px;
    border-radius: 5px;
}
#gen_female
{
    display: inblock;
    text-align: center;
    padding-left: 10px;
    padding-right: 0px;
    padding-top: 9px;
    padding-bottom: 9px;
    width: 82px;
    height: 36px;
    border: 2px;
    border-style: solid;
    border-color: #bdc7d8;
    margin-right: 12px;
    border-radius: 5px;
}
#gen_custom
{
    display: inblock;
    text-align: center;
    padding-left: 10px;
    padding-right: 0px;
    padding-top: 9px;
    padding-bottom: 9px;
    width: 82px;
    height: 36px;
    border: 2px;
    border-style: solid;
    border-color: #bdc7d8;
    border-radius: 5px;
}
#gen_male,#gen_female,#gen_custom
{
    border: 1px;
    border-style: solid;
    border-color: #bdc7d8;
    color: #1c1e21;
}
instruction>p1,p2
{
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
}
#li-1,#li-2,#li-3,#li-4
{
    text-decoration: none;
    color: #385898;
}
sign_up>p
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 194px;
    border-radius: 5px;
    border-style: hidden;
    background-color: #42b72a;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: bold;
    padding-top: 7px;
    padding-bottom: 7px;
}
sign_up>p:hover
{
    background-color: #69a74e;

}
login
{
    display: flex;
    justify-content: center;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    color: #00a128;
    
}
footer
{
    height: 156.4px;
    background-color: white;
    padding-left: 270px;
    padding-right: 270px;
    padding-top: 30px;
    padding-bottom: 10px;  
}
.footer-language-link
{
    font-size: 12px;
    word-spacing: 10px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 8px;
}
#footer-button-plus
{
    width: 29px;
    height: 19px;
    font-weight: bolder;   
}
.footer-link-list
{
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 20px;
}
#link-list
{
    text-decoration: none;
    color: #737373;
    margin-right: 19px;
}